<section name="nuevoMovimiento"
         class="row-fluid">
	<ab-cabecera>
		<mensaje>
			Introduce tus movimientos
		</mensaje>
	</ab-cabecera>
	<form name="formulario-nuevo-movimiento"
	      class="form-horizontal text-left">
		<fieldset>
			<div id="legend">
				<legend class="">Introduce tus movimientos</legend>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6">
					<div name="radio-tipos"
					     class="control-group">
						<label for="tipo"
						       class="column">Tipo: </label>
						<div ng-repeat="tipo in $ctrl.tipos"
						     class="column">
							<input name="tipo"
							       type="radio"
							       value="{{tipo.id}}"
							       ng-checked="{{$ctrl.nuevoMovimiento.tipo==tipo.id}}"
							       ng-click="$ctrl.cambiarTipo(tipo.id)">
							<span class="{{ tipo.texto | lowercase }}">{{ tipo.texto }}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div name="select-categorias"
					     class="control-group">
						<label for="categoria"
						       class="control-label">Categoría</label>
						<div class="controls">
							<select name="categoria"
							        ng-model="$ctrl.nuevoMovimiento.categoria">
								<option value="" selected>Selecciona una categoría...</option>
								<option ng-repeat="categoria in $ctrl.categoriasTipo" value="{{categoria.id}}">	{{ categoria.texto }}	</option>
						</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6">
					<div name="input-fecha"
					     class="control-group">
						<label for="fecha"
						       class="control-label">Fecha</label>
						<div class="controls">
							<input name="fecha"
							       format-date
							       type="date"
							       placeholder=""
							       class="input"
							       ng-model="$ctrl.nuevoMovimiento.fecha">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div name="input-importe"
					     class="control-group">
						<label for="importe"
						       class="control-label">Importe</label>
						<div class="controls">
							<input name="importe"
							       type="number"
							       placeholder=""
							       class="input"
							       ng-model="$ctrl.nuevoMovimiento.importe">
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-6">
					<div name="input-texto"
					     class="control-group">
						<label for="texto"
						       class="control-label">Texto</label>
						<div class="controls">
							<input name="texto"
							       type="text"
							       class="input"
							       ng-model="$ctrl.nuevoMovimiento.texto">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div name="estrellas-valoracion"
					     class="control-group">
						<label for="valoracion"
						       class="control-label">Valoración</label>
						<div name="valoracion"
						     class="controls">
							<ab-valoracion valor="$ctrl.nuevoMovimiento.valoracion"
							               maximo="10"
							               solo-lectura="false"></ab-valoracion>
							<br/>
							<ab-valoracion-binded ng-model="$ctrl.nuevoMovimiento.valoracion"
							                      maximo="10"
							                      solo-lectura="false"></ab-valoracion-binded>
							<br/>
							<input type="number"
							       ng-model="$ctrl.nuevoMovimiento.valoracion">
							<br/>
							<input type="number"
							       ng-model="$ctrl.nuevoMovimiento.valoracion">
							<br/> {{$ctrl.nuevoMovimiento}}
						</div>
					</div>
				</div>
			</div>
			</div>
			<div name="boton-guardar"
			     class="text-right">
				<button name="guardar"
				        style="margin-top: 20px"
				        type="button"
				        class="btn btn-lg btn-primary"
				        ng-click="$ctrl.guardarMovimiento()">
					<span>Guardar {{ $ctrl.tipo($ctrl.nuevoMovimiento) }}</span>
				</button>
			</div>
		</fieldset>
	</form>
</section>