<header>
  <h5>Nuevo Movimiento</h5>
</header>
<main>
  <form (ngSubmit)="alGuardarMovimiento()" [formGroup]="nuevoForm">
    <div class="row">
      <label for="fecha" class="column">Fecha: </label>
      <input type="date" class="column" formControlName="fecha">
    </div>
    <div class="row">
      <label for="importe" class="column">Importe: </label>
      <input type="number" class="column" formControlName="importe">
    </div>
    <!--<div class="row">
      <label for="tipo" class="column">Tipo: </label>
      <div *ngFor="let tipo of tipos" class="column">
        <input type="radio" name="tipo" [value]="tipo.id" [(ngModel)]="movimiento.tipo" (ngModelChange)="alCambiarTipo()">
        <span class="{{tipo.texto | lowercase}}">{{ tipo.texto }}</span>
      </div>
    </div>-->
    <div class="row">
      <label for="tipo" class="column">Tipo: </label>
      <div *ngFor="let tipo of tipos" class="column">
        <input type="radio" name="tipo" [value]="tipo.id" formControlName="tipo">
        <span class="{{ tipo.texto | lowercase }}">{{ tipo.texto }}</span>
      </div>
    </div>
    <div class="row">
      <label for="categoria" class="column">Categoría: </label>
      <select name="categoria" class="column" formControlName="categoria">
        <option value="" disabled selected hidden>Selecciona una categoría...</option>
        <option 
            *ngFor="let categoria of categorias"
            [value]="categoria.id"> 
            {{ categoria.texto }} 
        </option>
    </select>
    </div>
    <div class="row">
      <button type="submit" [disabled]="!nuevoForm.valid">Crear movimiento</button>
    </div>
  </form>
  <aside class="container">
    <em class="row">Movimento en curso: </em>
    <code class="row">
      <!--visión de un objeto con el pipe json-->
      <strong>{{ nuevoForm.value | json }}</strong>
    </code>
  </aside>
  <aside>
    <em class="row">Lista de movimientos:</em>
    <div class="row">
      <code>
        {{ movimientos | json }}
      </code>
    </div>
  </aside>
</main>