<div class="container">
  <div class="row">
    <div class="column">
      <form [formGroup]="contactoForm" (ngSubmit)="onSubmit(contactoForm)"  novalidate>
        <fieldset>
          <label for="emailField"
            [ngClass]="{ 'text-error': formUtils.noEsValido('email') }">
            Email
          </label>
          <input type="text"
            placeholder="Email"
            id="emailField"
            [ngClass]="{'input-error': formUtils.noEsValido('email') }"
            formControlName="email">
          <cf-validator
            [form]="contactoForm"
            campo="email"
            error="required"
            mensaje="El campo es obligatorio">
          </cf-validator>
          <label for="subjectField"
            [ngClass]="{ 'text-error': formUtils.noEsValido('subject') }">
            Asunto
            </label>
          <input type="text"
            placeholder="Asunto"
            id="subjectField"
            [ngClass]="{'input-error': formUtils.noEsValido('subject') }"
            formControlName="subject">
          <cf-validator
            [form]="contactoForm"
            campo="subject"
            error="required"
            mensaje="El campo es obligatorio">
          </cf-validator>
          <label for="descriptionField"
            [ngClass]="{ 'text-error': formUtils.noEsValido('description') }">
            Descripción
          </label>
          <textarea placeholder="Descripción" 
            id="descriptionField"
            formControlName="description"
            [ngClass]="{'input-error': formUtils.noEsValido('description') }"
            formControlName="description">
            </textarea>
          <cf-validator
            [form]="contactoForm"
            campo="description"
            error="required"
            mensaje="El campo es obligatorio">
          </cf-validator>
          <input class="button-primary" type="submit" value="Enviar" [disabled]="!contactoForm.valid">
        </fieldset>
      </form>
    </div>
  </div>
</div>